@media (max-width: 767px) {
    .chat-sidebar {
        position: unset;
        height: 100%;
        right: 0px;
        top: 28px;
        width: 100%;
        border: 1px solid #DADADA;
        background: white;
        box-shadow: 0px 3px 3px #00000005;
        border-radius: 10px 0px 0px 0px;
        padding: 15px;
    }
    .chatbox-holder {
        position: unset !important;
        /* right: 0; */
        /* bottom: 0; */
        display: block;
        /* align-items: flex-end; */
        /* height: 0; */
    }
    .chatbox {
        width: 100%;
        height: auto;
        margin: 0 20px 0 0;
        position: relative;
        box-shadow: 0 0 14px 0 rgb(0 0 0 / 9%);
        display: flex;
        flex-flow: column;
        border-radius: 10px 10px 0 0;
        background: white;
        bottom: 0;
        transition: .1s ease-out;
    }
    .chat-input-holder {
        display: flex;
        border-top: 1px solid rgba(0, 0, 0, .1);
        position: fixed;
        bottom: 0;
        width: 100%;
    }
   
}
@media (min-width: 1400px) {
    .chat-sidebar {
        position: fixed;
        /* height: 100%; */
        height: 100%;
        right: 0px;
        /* top: 28px; */
        top: 230px;
        width: 297px;
        border: 1px solid #DADADA;
        background: white;
        box-shadow: 0px 3px 3px #00000005;
        border-radius: 10px 0px 0px 0px;
        padding: 15px;
    }
    
        
}