* {
    font-family: 'Poppins-Medium';
}

body {
    background-color: #E8E8E8;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../css/font/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../css/font/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../css/font/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../css/font/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../css/font/Poppins-Bold.ttf");
}

.Poppins-Light {
    font-family: 'Poppins-Light', sans-serif !important;
}

.Poppins-Regular {
    font-family: 'Poppins-Regular', sans-serif !important;
}

.Poppins-Semi-Bold {
    font-family: 'Poppins-SemiBold', sans-serif !important;
}

.Poppins-Medium {
    font-family: 'Poppins-Medium', sans-serif !important;
}

.Poppins-Bold {
    font-family: 'Poppins-Bold', sans-serif !important;
}


/* ----------chat start-------- */

.chat-sidebar {
    position: fixed;
    /* height: 100%; */
    height: 100%;
    right: 0px;
    /* top: 28px; */
    top: 78px;
     width: 297px; 
    /*width: 240px;*/
    border: 1px solid #DADADA;
    background: white;
    box-shadow: 0px 3px 3px #00000005;
    border-radius: 10px 0px 0px 0px;
    padding: 15px;
    z-index: 9999;
}

.chat-sidebar-min {
    height: 0% !important;
    top: auto !important;
    bottom: 30px !important;
}
.chat-header-margin{
    margin-bottom: -47px !important;
}

.sidebar-name {
    margin-bottom: 3px;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-top: 0px;
    border-bottom: 1px solid #D8D8D8;
    position: relative;
}

.sidebar-name span {
    padding-left: 5px;
}

.sidebar-name a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
    margin-bottom: 4px;
}

.sidebar-name:hover {
    background-color: #f9f9f9;
}

.sidebar-name img {
    width: 42px;
    height: 42px;
    vertical-align: middle;
    border: 1px solid #707070;
    border-radius: 50%;
    object-fit: cover;
}

.popup-box {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 220px;
    height: 285px;
    background-color: rgb(237, 239, 244);
    width: 300px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.popup-box .popup-head {
    background-color: #6d84b4;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    clear: both;
}

.popup-box .popup-head .popup-head-left {
    float: left;
}

.popup-box .popup-head .popup-head-right {
    float: right;
    opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a {
    text-decoration: none;
    color: inherit;
}

.popup-box .popup-messages {
    height: 100%;
    overflow-y: scroll;
}

.toggler-minmz {
    position: absolute;
    right: 20px;
    font-size: 15px;
    cursor: pointer;
    color: #292929;
}

.chat-header {
    position: relative;
    background: white;
    display: flex;
    MARGIN: -15PX;
    PADDING: 15PX;
    /* height: 59px; */
    height: 63px;
    border-radius: 10px 0px 0px 0px;
    bottom: 33px;
}

.chat-main-t h4 {
    color: #2A2A2A;
    font-size: 15px;
    font-family: poppins-semibold;
    margin-top: 0px;
    margin-bottom: 6px;
}

.chat-main-t h6 {
    color: #9B9B9B;
    font-size: 11px;
    font-family: poppins-regular;
    margin-top: 0px;
    margin-bottom: 10px;
}

.main-chat-list hr {
    margin-top: 15px;
    margin-bottom: 13px;
}

.rot {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.toggler-minmz {
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.chat-search input {
    background: #FFFFFF 0% 0% no-repeat url(../images/search-chat.png);
    border: 1px solid #e5e5e5;
    border-radius: 91px;
    font-size: 11px;
    padding: 9px;
    width: 100%;
    padding-left: 39px;
    outline: none;
    background-position: 18px;
}

.chat-search ::placeholder {
    color: #9B9B9B;
    font-size: 11px;
}

.user-name-chat h4 {
    color: #1E1E1E;
    font-family: poppins-bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.user-name-chat p {
    color: #343434;
    font-size: 11px;
}

.user-name-chat {
    margin-left: 13px;
    margin-bottom: 4px;
}


/* ---------chat scroll---- */


/* width */

.chat-sidebar ::-webkit-scrollbar {
    width: 5px;
}


/* Track */

.chat-sidebar ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgrey;
    border-radius: 10px;
}


/* Handle */

.chat-sidebar ::-webkit-scrollbar-thumb {
    background: #BB0005;
    border-radius: 10px;
}


/* Handle on hover */

.chat-sidebar ::-webkit-scrollbar-thumb:hover {
    background: #BB0005;
}

.group-user {
    margin-top: 9px;
    width: 105%;
    height: 252px;
    overflow: auto;
    overscroll-behavior: contain;
}

.active-c {
    position: absolute;
    height: 12px;
    width: 12px;
    background: #23C543;
    border-radius: 50%;
    left: 31px;
    top: 35px;
}

.d-active-c {
    position: absolute;
    height: 12px;
    width: 12px;
    background: #C6C6C6;
    border-radius: 50%;
    left: 31px;
    top: 35px;
}

.time-chat {
    position: absolute;
    right: 15px;
    color: #BBBBBB;
    font-size: 11px;
    top: 8px;
}

.new-msg {
    height: 13px;
    width: 13px;
    background: #BB0005;
    color: white;
    font-size: 10px;
    font-family: poppins-medium;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    border-radius: 50%;
    margin-left: 15px;
}

.online-member-lst h4 {
    color: #2B2B2B;
    font-size: 14px;
    font-family: poppins-semibold;
}

.online-member-lst h5 {
    color: #2B2B2B;
    font-size: 13px;
    font-family: poppins-semibold;
}

.online-member-lst h5 span {
    color: green;
    font-size: 9px;
    font-family: poppins-semibold;
    margin-right: 5px;
}

.online-member-lst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-bottom: 3px solid #C6E3CC;
    border-top: 1px solid #ffffff;
    padding-bottom: 2px;
}


/* ---------chat box css---------- */

ul {
    list-style: none;
}

.chatbox-holder {
    position: fixed;
    right: 290px;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    height: 0;
    z-index: 99;
}

.chatbox {
    width: 337px;
    height: 387px;
    margin: 0 20px 0 0;
    position: relative;
    box-shadow: 0 0 14px 0 rgb(0 0 0 / 9%);
    display: flex;
    flex-flow: column;
    border-radius: 10px 10px 0 0;
    background: white;
    bottom: 0;
    transition: .1s ease-out;
}

.chatbox-top {
    position: relative;
    display: flex;
    padding: 10px 7px;
    border-radius: 10px 10px 0 0;
    background: white;
    height: 70px;
    align-items: center;
    box-shadow: 0px 3px 3px #00000005;
    border: 1px solid #DADADA;
    padding-right: 4px;
}

.chatbox-icons {
    padding: 0 10px 0 0;
    display: flex;
    position: relative;
}

.chatbox-icons .fa {
    background: transparent;
    padding: 3px 5px;
    margin: 0 0 0 3px;
    color: #414141;
    border-radius: 0 5px 0 5px;
    transition: 0.3s;
    font-weight: lighter;
    font-size: 18px;
}

.chatbox-icons a,
.chatbox-icons a:link,
.chatbox-icons a:visited {
    color: white;
}

.chat-partner-name,
.chat-group-name {
    flex: 1;
    font-size: 15px;
    text-shadow: 1px 1px 0 white;
    transition: .1s ease-out;
    color: #303030;
    font-family: 'Poppins-SemiBold';
    text-align: center;
    margin-left: 15px;
}

.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #cacaca;
    margin: 0 3px 0 0;
}

.online {
    background: #b7fb00;
}

.away {
    background: #ffae00;
}

.donot-disturb {
    background: #ff4343;
}

.chatbox-avatar {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    padding: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    position: absolute;
    transition: .1s ease-out;
    bottom: 0;
    left: 6px;
}

.chatbox-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat-messages {
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    flex: 1;
    background: #EEEEEE;
    box-shadow: 0px 3px 11px #00000017;
    border: 1px solid #DADADA;
    overscroll-behavior: contain;
}

.message-box-holder {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.message-sender {
    font-size: 12px;
    margin: 0 0 15px;
    color: #30649c;
    align-self: flex-start;
}

.message-sender a,
.message-sender a:link,
.message-sender a:visited,
.chat-partner-name a,
.chat-partner-name a:link,
.chat-partner-name a:visited {
    color: #30649c;
    text-decoration: none;
}

.message-box {
    padding: 6px 10px;
    border-radius: 6px;
    position: relative;
    background: #23c543;
    border: 2px solid rgba(100, 170, 0, .1);
    color: #ffffff;
    font-size: 11px;
    word-break: break-all;
}

.message-box:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid rgb(35 197 67);
    border-right: none;
    bottom: -22px;
    right: 10px;
}

.message-partner {
    background: white;
    border: none;
    align-self: flex-start;
    box-shadow: 0px 3px 6px #0000000D;
    border-radius: 6px;
    line-height: 20px;
    font-size: 11px;
    color: #373737;
}

.message-partner:after {
    right: auto;
    bottom: auto;
    top: -20px;
    left: 9px;
    border: 10px solid transparent;
    border-bottom: 10px solid rgb(255 255 255);
    border-left: none;
}

.chat-input-holder {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.chat-input {
    resize: none;
    padding: 13px 15px;
    height: 43px;
    font-family: 'Poppins-Regular';
    font-size: 11px;
    color: #2e2e2e;
    flex: 1;
    border: none;
    background: #fff;
}

.chat-input-holder ::placeholder {
    color: #9B9B9B;
}

.chat-input:focus,
.message-send:focus {
    outline: none;
}

.message-send::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.message-send {
    background: white;
    color: #414141;
    font-size: 22px;
    padding: 0 15px;
    border: none;
}

.attachment-panel {
    padding: 3px 10px;
    text-align: right;
}

.attachment-panel a,
.attachment-panel a:link,
.attachment-panel a:visited {
    margin: 0 0 0 7px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.chatbox-min {
    margin-bottom: -317px;
    /*   height: 46px; */
}

.chatbox-min .chatbox-avatar {
    width: 60px;
    height: 60px;
}

.chatbox-min .chat-partner-name,
.chatbox-min .chat-group-name {
    /* padding: 0 0 0 75px; */
}

.settings-popup {
    background: white;
    border-radius: 10px/10px;
    box-shadow: 1px 0px 12px 0 rgb(0 0 0 / 30%);
    font-size: 13px;
    opacity: 1;
    padding: 0px 0;
    position: absolute;
    right: -18px;
    text-align: left;
    top: 33px;
    transition: .15s;
    transform: scale(1, 1);
    transform-origin: 50% 0;
    width: 120px;
    z-index: 2;
    padding-top: 8px;
}

.settings-popup:after,
.settings-popup:before {
    border: 7px solid transparent;
    border-bottom: 7px solid white;
    border-top: none;
    content: "";
    position: absolute;
    left: 45px;
    top: -10px;
    border-top: 3px solid rgba(0, 0, 0, .2);
}

.settings-popup:before {
    border-bottom: 7px solid rgba(0, 0, 0, .25);
    top: -11px;
}

.settings-popup:after {
    border-top-color: transparent;
}

#chkSettings {
    display: none;
}

#chkSettings:checked+.settings-popup {
    opacity: 1;
    transform: scale(1, 1);
}

.settings-popup ul li a,
.settings-popup ul li a:link,
.settings-popup ul li a:visited {
    color: #464646;
    text-decoration: none;
    display: block;
    padding: 7px 10px;
}

.settings-popup ul li a:hover {
    background: rgba(0, 0, 0, .05);
}

.settings-popup ul {
    /* margin-left: -24px; */
    padding-left: 0px;
    font-size: 12px;
    color: #424242;
}

.message-sender img {
    height: 33px;
    width: 33px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #707070;
}

.chat-m-pic {
    height: 33px;
    width: 33px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #707070;
    margin-top: 15px;
}

.pointer{
    cursor: pointer;
}

.send-message-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.unread-msg-show{
    font-family:poppins-bold;color:#000000;
}