/* Custom #color_code#
	#ffffff = #fff;
	#3b2c12 =#e40955;
    rgba(59,44,18,0.82) =rgba(228, 9, 85, 0.82); 
*/
/*._hamburge ul li a{
	color: #ffffff;
}*/
.cool-link a {
    color: #3b2c12 !important;
}
.menu-active:after {
    background: #3b2c12 !important;
}
._hamburge ul li:last-child a{
	background: #3b2c12 !important;
}
.banner-contact-1{
	background: #3b2c12 !important;
}
.tabbable-line > .nav-tabs > li.active > a{
	color: #3b2c12 !important;
}
.tabbable-line > .nav-tabs > li.active{
	border-bottom: 3px solid #3b2c12 !important;
}
.md-radio label:after{
	background: #3b2c12 !important;
}
.reg-fect-box{
	background: #3b2c12 !important;
}
.reg-cb-text a{
	color: #3b2c12 !important;
}
.reg-btn{
	background-color: #3b2c12 !important;
	border: 1px solid #3b2c12;
}
.reg-btn:hover, .reg-btn:focus{
    color: #3b2c12 !important;
    background: #fff !important;
}
.searchnow{
	background-color: #3b2c12 !important;
}
::-webkit-scrollbar-thumb{
	background: #3b2c12 !important;
}
.more-success-stories{
	background: #3b2c12 !important;
}
.service-box-new{
	background-color: #3b2c12 !important;
}
.read-more-btn{
	color: #3b2c12 !important;
}
.read-more-btn:hover{
    background: #3b2c12 !important;
    background-color: #fff !important;
}
.millions-of-happy-stories-box .owl-theme .owl-controls .owl-page.active span, .millions-of-happy-stories-box .owl-theme .owl-controls.clickable .owl-page:hover span{
	background: #3b2c12 !important;
}
.option-1-title h4,.option-2-title h4,.option-3-title h4,.option-4-title h4{
	color: #3b2c12 !important;
}
.option-3-data{
	background: #3b2c12 !important;
}
.planning-tools h3 span{
	color: #3b2c12 !important;
}
.get-started-btn{
	background-color: #3b2c12 !important;
	border: 1px solid #3b2c12 !important;
}
.get-started-btn:hover, .get-started-btn:focus{
    background: #f5f5f5 !important;
    color: #3b2c12 !important;
}
.features{
	background: #3b2c12 !important;
}
.stay-connected-title p span{
	color: #3b2c12 !important;
}
.why-choose-us-data h3{
	color: #3b2c12 !important;
}
.footer-bg{
	background-color: #3b2c12 !important;
}
.progress-wrap::after{
	color: #3b2c12 !important;
}
.newHamburge,#dismiss,.ul-li-bg li{
	background: #3b2c12 !important;
}
._hamburge li:hover:after{
	background: #3b2c12 !important;
}
._hamburge li:last-child:hover:after {
    background: none !important;
}
.how-does-it-work-new,.mobile-app-feact-new,.browse-matri-data-new{
    background: #3b2c12 !important;
}
.last-child-menu{
	background: #3b2c12 !important;
}
.a{fill:#3b2c12 !important;}