
@media (max-width: 767px)
{	



	.m-center
	{
		text-align: center;
	}

	
	.categories-box
	{
		width: 100%;
		height: auto;
	}

	.categories-box img
	{
		width: 100%;
		height: auto;
	}

	.categories-box h3
	{
		font-size: 15px;
		margin-top: 10px;
		margin-bottom: 0px;
	}




	.fd-icon
	{
		margin-top: 2px;
	}

	.fd-icon i
	{	
		font-size: 15px;
	}


	.wed-det-pad-r-0
	{
		padding-right: 15px;
	}

	.wed-det-pad-l-0
	{
		padding-left: 15px;
	}

	.wed-det-review,.wed-det-view-review
	{
		margin-top: 10px;
	}

	.wedding-planner-right-box
	{
		padding:8px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.m-pad-right-0
	{
		padding-right: 0px;
	}

	.fd-title h3
	{
		font-size: 15px;
		margin-bottom: 5px;
	}

	.fd-review h4
	{
		font-size: 10px;
	}

	.fd-title h4
	{
		font-size: 12px;
		margin-bottom: 2px;
	}

	.rating-wedding-1 i
	{
		font-size: 12px;
	}

	.fd-desc p
	{
		font-size: 11px;
		line-height: 15px;
		margin-bottom: 5px;
	}

	.d-margin-top-10
	{
		margin-top: 0px;
	}

	.pad-l-0
	{
		padding-right: 0px;
	}

	
}

@media (max-width: 375px)
{
	.fd-title h3
	{
		font-size: 12px;
	}

	.v-d-right h3,.v-d-left h3,.v-d-left-link a h3
	{
		font-size: 13px;
	}
}

